h1{ 
  color: #f7b8aa;
  font-weight: inherit;
}  

body{
 background-color:  #a6d1ea;
 font-style: oblique;
 color: #f7b8aa; 
 font-weight: bold;
}

.completed-todo{
 text-decoration: line-through

}
